* {
  margin: 0px;
  padding: 0px;
}
/* holographic card */
.holographic-card {
  height: 75%;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.holographic-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgba(186, 37, 223, 0.714)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}


.holographic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(179, 16, 194, 0.552);
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

/* hover unuderline */
.hover-underline::after,
.hover-underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ff0000, #00ffff);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

.hover-underline:hover {
  transition: 0.6s ease-out;
  color: white;
  transition-delay: 0.1s;
  /* transform-origin: right; */
}

